@mixin colors {
  // Texts
  --color-text: hsl(235, 16%, 57%);
  --color-text-dark: hsl(235, 16%, 51%);
  --color-text-two: #1a1c1d;
  --color-text-three: #323030;

  // Borders
  --color-border: hsl(0, 0%, 90%);
  --color-border-two: hsl(0, 0%, 80%);

  // Brand
  --color-primary-light: hsl(44, 100%, 95%);
  --color-primary: hsl(44, 100%, 54%);
  --color-primary-dark: hsl(44, 100%, 48%);
  --color-secondary: hsl(198, 90%, 48%);
  --color-secondary-dark: hsl(198, 90%, 38%);
  --color-cta: var(--color-primary);
  --color-cta-dark: var(--color-primary-dark);

  // Bgs
  --color-bg-one: #f5f5f5;
  --color-bg-two: #d8d8d8;
  --color-bg-three: #1a1c1d;

  // States
  --color-error: hsl(0, 100%, 50%);
  --color-error-light: hsl(0, 100%, 90%);
  --color-error-dark: hsl(0, 100%, 40%);
  --color-info: hsl(240, 100%, 50%);
  --color-info-light: hsl(240, 100%, 90%);
  --color-info-dark: hsl(240, 100%, 40%);
  --color-success: hsl(120, 100%, 25%);
  --color-success-light: hsl(120, 100%, 90%);
  --color-success-dark: hsl(120, 100%, 15%);
  --color-warning: hsl(60, 100%, 42%);
  --color-warning-light: hsl(60, 100%, 80%);
  --color-warning-dark: hsl(60, 100%, 32%);
}
